.h-transition-none {
  transition: none !important;
}

.h-hidden-with-transition {
  opacity: 0;
  pointer-events: none;
}

.h-overflow-hidden {
  overflow: hidden;
}

.h-visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.h-block-page-scroll {
  width: 100%;
  position: fixed;

  & body {
    overflow-y: scroll;
  }
}
