// COLORS
$color-primary: #ff690f;
$color-secondary: #325785;
$color-secondary-light: #4c7aa7;

$color-very-light-grey: #cdd4db;
$color-light-grey: #565656;
$color-dark-grey: #333333;
$color-dark-grey-alt: #2b2b2b;

$color-white: #ffffff;
$color-white-alt: #fefefe;
$color-snow-white: #f6f6f6;

//IMAGES
$img-about: './../assets/img/statistics-background.jpg';

// BREAKPOINTS
$bp-very-large: 100em; // 1600px
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px;
$bp-small: 43.75em; //700px;
$bp-very-small: 31.25em; // 500px;
