@import url('https://fonts.googleapis.com/css?family=Catamaran:700,900|Muli:300,400,700&display=swap');

body {
  font-family: 'Muli', sans-serif;
}

@mixin heading {
  font-family: 'Catamaran', sans-serif;
  color: $color-dark-grey;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 5.625rem;
  text-transform: uppercase;
}

@mixin paragraph {
  color: $color-light-grey;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2rem;
}

@mixin item-text {
  color: $color-white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 5.625rem;
}

@mixin item-text--alt {
  color: $color-white-alt;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 5.625rem;
}

.t-heading {
  @include heading;
}

.t-paragraph {
  @include paragraph;
}

.t-item-text {
  @include item-text;

  &--alt {
    @include item-text--alt;
  }
}
