.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 68.7rem;
  overflow: hidden;
  background: radial-gradient(
    ellipse at center,
    $color-secondary-light 0%,
    $color-secondary-light 30%,
    $color-secondary 85%,
    $color-secondary 100%
  );

  @include bp($bp-very-large) {
    height: 74.7rem;
  }

  @include bp($bp-large) {
    height: 83.5rem;
  }

  @include bp($bp-medium) {
    height: calc(79.5rem + (100vw - #{$bp-medium}) * 0.12);
  }

  @include bp($bp-very-small) {
    height: 108vh;
    min-height: 63rem;
  }

  .logo {
    height: 3.8rem;

    & img {
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp($bp-medium) {
      width: 97%;
    }

    @include bp($bp-very-small) {
      width: 100%;
    }
  }

  &__heading {
    @include heading;

    font-size: 1.875rem;
    line-height: 4.425rem;
    color: lighten($color-secondary-light, 18%);
  }

  &__subtitle {
    @include heading;

    font-size: 15.625rem;
    line-height: 14.625rem;
    letter-spacing: -0.8rem;
    color: lighten($color-secondary-light, 10%);

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background: linear-gradient(
        to right,
        lighten($color-secondary-light, 5%) 0%,
        $color-secondary-vibrant 40%,
        $color-secondary-vibrant 57%,
        lighten($color-secondary-light, 3%) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include bp($bp-medium) {
      font-size: 19vw;
      line-height: 18vw;
      letter-spacing: -0.6rem;
    }

    @include bp($bp-very-small) {
      letter-spacing: -0.4rem;
      font-size: 19.5vw;
    }
  }

  &__paragraph {
    color: $color-white-alt;
    position: relative;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    max-width: 42rem;
    align-self: flex-start;
    left: -2.9rem;
    top: 6.3rem;

    @include bp($bp-medium) {
      left: 0;
      max-width: 55vw;
      top: 9.3rem;

      & br {
        display: none;
      }
    }

    @include bp($bp-small) {
      max-width: initial;
      top: 4.3rem;

      & br {
        display: initial;
      }
    }

    @include bp($bp-very-small) {
      text-align: center;
      top: 2.3rem;
      width: 93%;
      margin: 0 auto;

      & br {
        display: none;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 10;
    align-self: flex-start;
    left: -2.9rem;
    top: 9.1rem;

    @include bp($bp-medium) {
      left: 0;
      top: 11.1rem;
    }

    @include bp($bp-small) {
      top: 6.1rem;
    }

    @include bp($bp-very-small) {
      align-self: center;
      top: 3.5rem;
    }
  }

  &__background {
    display: block;
    width: 100%;
    height: 720px;
    position: absolute;
    bottom: -1px;
    object-fit: cover;
    object-position: 35%;

    @include bp($bp-very-small) {
      height: calc(107.5vh - (128px));
      min-height: 47.2rem;
      object-position: calc(42vw + 5.5vh);
      width: auto;
      object-fit: initial;
    }
  }

  &__action-image {
    position: absolute;
    z-index: 1;
    bottom: 0.1rem;
    right: calc(-2.3vw + (100vw - 1920px) * 0.36);

    @include bp($bp-medium) {
      transform: scale(0.9);
      bottom: -1.9rem;
    }

    @include bp($bp-small) {
      transform: scale(0.75);
      bottom: -4.9rem;
      right: calc(10.7vw + (100vw - 1920px) * 0.36);
    }

    @include bp($bp-very-small) {
      height: calc(98% - 345px);
      left: initial;
      right: 0;
      bottom: 6vh;
      width: calc(100% + (100vw - 500px) * 0.1vh);
      object-fit: cover;
      transform: none;
      object-position: 28%;
      min-height: 240px;
      max-width: 100%;
    }
  }
}
